/* CSS */
::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: url(img/bg.gif) no-repeat;
    background-size: cover;
    background-position: center;
    user-select: none;
    display: flex;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(4px);
    padding: 6px 14px;
    transition: .5s;
    overflow: hidden;
    z-index: 2000;
}

.sidebar.active {
    width: 260px;
}

.sidebar .logo-menu {
    display: flex;
    white-space: nowrap;
    align-items: center;
    width: 100%;
    height: 70px;
}

.sidebar .logo-menu .logo {
    font-size: 23px;
    color: #fff;
    pointer-events: none;
    opacity: 0;
    transition: .3s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.sidebar.active .logo-menu .logo {
    opacity: 1;
    transition-delay: .2s;
}

.sidebar .logo-menu .toggle-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.sidebar.active .logo-menu .toggle-btn {
    left: 90%;
}

.sidebar .list {
    margin-top: 10px;
}

.list .list-item {
    list-style: none;
    width: 100%;
    height: 50px;
    margin: 5px 0;
    line-height: 50px;
}

.list .list-item a {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    white-space: nowrap;
    transition: .5s;
}

.list .list-item.active a,
.list .list-item a:hover {
    background: rgba(255, 255, 255, .2);
}

.list .list-item a i {
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.sidebar .link_name {
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.sidebar.active .link_name {
    opacity: 1;
    pointer-events: auto;
    transition-delay: calc(.1s * var(--i));
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.maintitle {
    user-select: none;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.text-background {
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.text-background p {
    color: #fff;
    font-size: 18px;
    line-height: 1.3;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.button-container {
    position: fixed;
    top: 55%;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-50%);
}

.button-container .linkButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    background: rgba(80, 166, 239, 0.2);
    border: 1px solid rgba(80, 166, 239, 0.5);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 10px;
    backdrop-filter: blur(2px);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.button-container .linkButton:hover {
    background: #50A6EF;
    border-color: #50A6EF;
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(80, 166, 239, 0.4);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}